[package]
name = "iota-crypto"
version = "0.1.0"
license = "MIT"
authors = ["Gustav Behm <gustav.behm@iota.org>"]
edition = "2018"

[lib]
name = "crypto"

[features]
default = []

xchacha20poly1305 = [ "chacha20poly1305" ]

[dependencies]
chacha20poly1305 = { version = "0.6.0", optional = true }
